
<!DOCTYPE html>
<html>
<head>
  <title>Barbecues</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= csrf_meta_tags %>
</head>
<body data-hook="controller-<%= controller_name %> action-<%= action_name %>">

  <div class="container">
  	<a href="/users/sign_out" data-method="delete">
		Log Out
	</a>
    <%= yield %>
  </div>

</body>
</html>